include LICENSE
include README.md
recursive-include taccsite_static_article_list/static *
recursive-include taccsite_static_article_list/templates *
recursive-include taccsite_static_article_list/migrations *
