include LICENSE
include README.md
recursive-include djangocms_tacc_static_article_list/static *
recursive-include djangocms_tacc_static_article_list/templates *
recursive-include djangocms_tacc_static_article_list/migrations *
